/* Custom Swiper Styles */
.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: auto;
}

.swiper-slide > div {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

